
@media {
}

body {
  background-image: url("../img/calm3.jpeg");
  background-size: cover;
}

#jumbo {
  background-image: url("../img/calm3.jpeg");
  background-size: 700%;
}

#row1 {
  background-image: url("../img/calm4.jpeg");
  background-size: 100% 100%;
}

.inline {
  display: inline-block;
}

h1.intro-color {
  color: #CDDC39;
}

.logo {
  float: right;
  height: 100px;
  margin-top: -5.5%;
  margin-right: -1.8%;
}

img {
    display: block;
    margin: auto;
    width: 60;
}

.name {
  font-family: cursive;
}

.intro {
  font-family: cursive;
}

#back {
  background-color:#9E9E9E;
}
