
@media {
}

body {
  background-image: url("../img/calm3.jpeg");
  background-size: cover;
}

#title {
  background-image: url("../img/calm3.jpeg");
  background-size: 700%;
}

#epicodus {
  background-image: url("../img/calm4.jpeg");
  background-size: 100% 100%;
}

#about {
  background-image: url("../img/calm3.jpeg");
  background-size: 700%;
}

#topabout {
  background-image: url("../img/calm5.jpeg");
  background-size: 100% 100%;
}

#background {
  background-image: url("../img/calm3.jpeg");
  background-size: 700%;
}

#topbackground {
  background-image: url("../img/calm5.jpeg");
  background-size: 100% 100%;
}

#skills {
  background-image: url("../img/calm3.jpeg");
  background-size: 700%;
}

#topskills {
  background-image: url("../img/calm5.jpeg");
  background-size: 100% 100%;
}

#friends {
  background-image: url("../img/calm3.jpeg");
  background-size: 700%;
}

#topfriends {
  background-image: url("../img/calm5.jpeg");
  background-size: 100% 100%;
}

.inline {
  display: inline-block;
}

h1.intro-color {
  color: #CDDC39;
}

.logo {
  float: right;
  height: 100px;
  margin-top: -5.5%;
  margin-right: -1.8%;
}

img {
    display: block;
    margin: auto;
    width: 60;
}

.name {
  font-family: cursive;
}

.intro {
  font-family: cursive;
}

#back {
  background-image: linear-gradient(top, #4F364C, #FFFFFF);
}
